# Non-necessary files
# Build outputs
odpkg
odpkg.exe
*.bin
*.o
*.obj
*.pdb
*.dll
*.so
*.dylib
*.a
*.lib

# Odin test/build artifacts
src.bin

# Local package files
vendor/
odpkg.toml
odpkg.lock

# OS files
.DS_Store
Thumbs.db


node_modules/
